body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}


footer {
  text-align: right;
  color: rgb(43, 135, 132);}

.tile-image{
  height: 200px;
  float: left;
  margin-right: 50px;
}
.card {
  width: 45%;
}

.left {
  float: left;
}
.right {
  float: right;
}
.creative {
  color: rgb(43, 135, 132);
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
  body {
    background-color: #917575;
  }
  h1{
    font-size: 3.5rem;
    text-align: center;
  }
  .card{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    display: inline;
    margin: 0px 0px 20px 0px;
    width: 100%;
    object-fit: cover;
  }
  
}

@media (min-width: 480px) and (max-width: 680px) {
  body {
    background-color: #709b97;
  }
  .logo {
    width: 100px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
}
  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    height: 300px;
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }

}


